a {
    color: rgba(180,180,180, 0.3);
    color:#333;text-decoration:none;
}
a:hover {
    color: rgba(180,180,180, 0.5);
}

/* 播放器位置 */
.music-player {
    position: relative;
    margin: 200px auto;
    margin-top: 50px;
}

/* 歌曲列表 */

.music-player__list {
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    height: 266px;
    overflow-y:auto;
}

.music__list__item {
    padding-left: 25px;
    color: #ccc;
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}
.music__list__item:hover {
    background:rgba(180,180,180, 0.1);
    border-radius:7px;
}

.music__list__item:last-of-type {
    margin: 0;
}

.music__list__item.play {
    color: #fff;
}

.music__list__item.play:before {
    font-family: 'iconfont';
    content: "\e87a";
    position: absolute;
    left: 0px;
    top: 4px;
}


/* 播放器主体 */
.music-player__main {
    height: 180px;
    padding: 25px;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

/* 播放器主体模糊背景 */
.music-player__blur {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}



/* 播放器唱片效果 */
.music-player__disc {
    float: left;
    width: 130px;
    height: 130px;
    background: url(../images/cd.png) no-repeat center;
    background-size: 100%;
    position: relative;
}

/* 唱片指针 */
.music-player__pointer {
    width: 25px;
    position: absolute;
    right: -10px;
    top: 0;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* 唱片指针播放状态 加play类名 */
.music-player__pointer.play {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

/* 唱片歌曲图片 */
.music-player__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


/* 歌曲信息 */
.music__info {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

.music__info .music__info--title,
.music__info .music__info--singer {
    color: #fff;
}

.music__info .music__info--title {
    font-size: 16px;
}

.music__info .music__info--singer {
    color: #ccc;
    font-size: 14px;
    margin-top: 10px;
}

/* 控件 */

.player-control {
    width: 100%;
}

.player-control__content {
    margin-bottom: 5px;
    overflow: hidden;
}

/* 播放暂停按钮 */
.player-control__btns {
    float: left;
    overflow: hidden;
}

.player-control__btn {
    float: left;
    margin: 0 5px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
}

.player-control__volume {
    float: right;
    overflow: hidden;
}

.control__volume--progress {
    float: left;
    width: 100px;
    position: relative;
    top: 8px;
}

.player__song--timeProgess{
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
    padding: 0px 3px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.nowTime{
    float: left;
}
.totalTime{
    float: right;
}

.progress {
    background: rgba(0, 0, 0, 0.3);
    height: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.progress .back {
    width: 0px;
    height: 100%;
    border-radius: 2px;
    background: rgb(12, 182, 212);
}

.progress .pointer {
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    position: absolute;
    top: -1px;
    left: 0;
}

.progress:hover .pointer {
    opacity: 1;
}


/* 播放 画片 动画 */

@-webkit-keyframes disc {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes disc {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.music-player__image.play {
    -webkit-animation: disc 5s linear 0s infinite;
    animation: disc 5s linear 0s infinite;
}


/*  播放进度  */

.player__song--progress {
    width: 100%;
    margin-top: 15px;
}
input,button {
	border:none;
	outline:none;
}
input {
	width:100%;
	height:42px;
	padding-left:13px;
}
button {
	height:42px;
	width:42px;
	cursor:pointer;
	position:absolute;
}
/*搜索框7*/

.bar7 form {
	height:42px;
}

.bar7 input {
	border-radius:42px;
	border:2px solid #324B4E;
	background:rgba(0, 0, 0, 0.3);
    color: rgba(250,250,250, 0.3);
	transition:.2s linear;
	float:right;
	margin-top:10px;
	margin-bottom:10px;
}
.bar7 input:focus, .bar7 input:hover {
	background:rgba(50, 50, 50, 0.3);
	color: rgba(250,250,250, 0.9);
}
.bar7 button {
	background:none;
	right:20px;
    margin-top: 9px;
}
.bar7 button:before {
	content:"Search";
	font-family:FontAwesome;
	color:#628b90;
	transition:.2s linear;
}

.bar7 button:hover:before {
	color:#94cdd4;
}

.found {
    background:rgba(180,180,180, 0.1);
    border-radius: 7px;
}

.foot_marker {
    float:right;
    padding: 0px 10px 0px 10px;
    margin : 10px 0px 10px 0px;
}

.search_list {
    display: none;
    z-index: 999999;
    color: rgba(250,250,250, 0.9);
    position: absolute;
    background: #1d1d1d;
    width: 100%;
    margin-top: 10%;
    padding: 15px;
}

.search_list_item:hover{
    background-color: rgba(200,200,200, 0.5);
}

.download{
    display: none;
    z-index: 999999;
    color: rgba(250,250,250, 0.9);
    position: absolute;
    margin-top: 8%;
    background: #4e4e4ee6;
    padding: 16px;
    border: 2px solid #969696e6;
    width: 50%;
    border-radius: 50px;
    letter-spacing: 12px;
    text-align: center;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #25252566;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ffffff2e;
}