
body {
    margin: 0; padding: 0;
    background: #1d1d1d;
}

* {
    box-sizing: border-box;
}

h1, h2, h3,h4, h5, h6, p, ul, li {
    margin: 0; padding: 0;
}

li { list-style: none; }